body {
    margin: 0;
    padding: 0;
    background-color: #6abadeba;
    font-family: 'Arial';
}

h2 {
    text-align: center;
}

#kaydetid {
    background-color: #4CAF50;
    width: 100%;
    color: rgb(255, 255, 255);
    padding: 15px;
    margin: 10px 0px;
    border: none;
    cursor: pointer;
}

#test {
    text-align: center;
    align-content: center;
}

#vazgecid {
    background-color: #4CAF50;
    width: 100%;
    color: rgb(255, 9, 9);
    padding: 15px;
    margin: 10px 0px;
    border: none;
    cursor: pointer;
}

#baslıkAdmin {
    text-align: left;
    border: 3px solid rgb(175, 218, 231);
}

form {
    align-items: center;
    width: 25%;
    border: 3px solid #f1f1f1;
    margin-left: 37%;
}

input[type=text],
input[type=password] {
    width: 100%;
    margin: 8px 0;
    padding: 12px 20px;
    display: inline-block;
    border: 2px solid rgb(25, 152, 255);
    box-sizing: border-box;
}

button:hover {
    opacity: 0.7;
}

.container {
    padding: 25px;
    background-color: lightblue;
}